
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Backend
env
static
templates
*.pyc
db.sqlite3

# Frontend
bower_components
jspm_packages
node_modules