
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Backend
backend/static
backend/templates
db.sqlite3
*.pyc

# Frontend
bower_components
jspm_packages
node_modules